* {
    margin: 0;
}

/*Placement de la vidéo en fond d'écran pour qu'elle prenne toute la place visuelle*/
video#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vh;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -100;
    background: "img/video_image.PNG" no-repeat;
    background-size: cover;
}
  
.global {
    display: flex;
    justify-content: center;
}

/*Positionement de la zone de connexion*/
#div_se_connecter {
    flex-grow: 1;
    float: left;
    width: 20%;
    margin-left: 10%;
    margin-top: 10%;
}

/*Positionement de la zone d'inscription*/
#div_creation {
    flex-grow: 1;
    overflow: auto;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

/*Positionement de la zone de création d'univers*/
#div_creation_univers {
    flex-grow: 1;
    overflow: auto;
    margin-top: 10%;
    margin-right: 10%;
}
  
h1 {
    padding-bottom: 10px;
    color: white;
}

/*Changement de la couleur de l'arrière plan des formulaires*/
form {
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #ffffffd5;
}

/*Changement de couleur des zone de texte des formulaires*/
input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.815);
}

/*Changement de couleur des boutons dans les formulaires*/
input[type="submit"] {
    background-color: #444e74d2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
}