/*Affichage en plein écran de l'arrière plan concerné par le fichier*/
.arriere_plan {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vh;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}

/* Style des éléments */
.objet {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/*Définition de la taille des images/icôles que l'on va utiliser*/
.objet img {
    width: 15%;
    margin-right: 10px;
}

/*Changement de couleur du texte*/
.objet h2 {
    color: white;
    margin: 0;
}

.objet h3 {
    color: white;
    margin-top: 5px;
}

.objet p.resource {
    margin: 5px 0;
}

.objet p {
    margin: 0;
    color: white;
}

/* Positionnement des éléments */
body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

/*Positionnement des informations ressources en haut à droite de l'écran de façon statique*/
#div_ressources {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f1f1f128;
    padding: 10px;
    border-radius: 5px;
    color:white;
}

/*Positionnement du bouton retour en bas à gauche de l'écran de façon statique*/
form#retour {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

/*Changement de couleur des boutons*/
button[type="submit"] {
    background-color: #444e74d2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
    cursor: pointer;
}
.bouton:hover{
    background-color: #444e74;
}